@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Share+Tech&display=swap');
@import "tailwindcss";

body {
  font-family: "Noto Sans TC", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.logo-text{
  font-family: "Share Tech";
  color: #C6975F;
  font-size: 1.25rem;
  position: relative;
  top:1px;
}
.btn {
  padding: 0.5rem 1.25rem;
  color: white;
  cursor: pointer;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}

.disabled-btn {
  cursor: none;
}

.side-btn {
  backdrop-filter: blur(5px);
  @apply border border-white/30 bg-[#102832]/50 text-sm w-17 h-17 text-white rounded-full shadow-lg flex justify-center items-center cursor-pointer transition duration-300 hover:scale-110 hover:bg-[#102832];
}

.text-input {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 0.25rem 0.5rem;
  outline: none;
  font-size: 0.875rem;
}

/* 動畫 */
.fade-enter-active {
  transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fadeup-enter-active,
.fadeup-leave-active {
  transition: all 0.4s ease;
}

.fadeup-enter-from,
.fadeup-leave-to {
  opacity: 0;
  transform: translateY(20px);
}